<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Photo Assassin</title>
    <link rel="stylesheet" href="/static/error.css" />
  </head>

  <body>
    <h1 class="area">Error</h1>
    <div class="area">{{details}}</div>
    <a class="area" href="/">Back to main menu</a>
  </body>
</html>
