/*
flexbox doesn't play well with hidden 
https://stackoverflow.com/a/48936804 */

[hidden] {
    display: none !important;
}

.container {
    font-size: 2em;
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.top {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.middle {
    list-style-type: none;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    flex: 1;
}

.middle-2 {
    list-style-type: none;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.right {
    flex: 1;
}

.left {
    flex: 1;
}

#photo-preview {
    position: relative;
}

#preview-overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
}

#preview-buttons {
    display: flex;
    flex-direction: row;
}

#preview {
    width: 100%;
    object-fit: contain;
}

#camera-button {
    font-size: 2em;
    margin: 0.25em;
}

#send-message {
    margin: 0.25em;
}

form {
    background: #4eb7e7;
}

#messages li:nth-child(odd) {
    background: #eee;
}

.username {
    font-weight: bold;
}

#message {
    width: 100%;
}

button, input, label[type=text], textarea {
    font-size: 150%;
}

button, label, textarea {
    display: block;
}

/* this is needed to make undotext's absoulte position relative to the containing li*/
.message-li {
    position: relative;
}

.undotext { 
    position: absolute; 
    top: 50%; 
    left: 0; 
    width: 100%;
    color: crimson;
    font-size: 5em;
    font-weight: 20;
 }

.message-image {
    width: 100%;
    object-fit: contain;
    display: inline;
}

input[type=checkbox] {
    transform: scale(3);
}

#send-message-form {
    display: flex;
    flex-direction: row;
}