/*
flexbox doesn't play well with hidden 
https://stackoverflow.com/a/48936804 */

[hidden] {
    display: none !important;
}

body {
    font-size: 2em;
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.top {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.middle {
    list-style-type: none;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    flex: 1;
}

#photo-preview {
    position: relative;
}

#preview-buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
}

#preview {
    width: 100%;
    object-fit: contain;
}

#camera-button {
    font-size: 2em;
    margin: 0.25em;
}

#send-message {
    margin: 0.25em;
}

form {
    background: #4eb7e7;
}

#messages li:nth-child(odd) {
    background: #eee;
}

.username {
    font-weight: bold;
}

#message {
    width: 100%;
}

button, input, label[type=text], textarea {
    font-size: 150%;
}

button, label, textarea {
    display: block;
}

.message-image {
    width: 100%;
    object-fit: contain;
}

input[type=checkbox] {
    transform: scale(3);
}

#send-message-form {
    display: flex;
    flex-direction: row;
}